:root {
--color-bg-li:#4b4b4a;
--color-bg-menu-ul:#004891;
--color-menu-border:#7d7c7c;
--color-white:#ffffff;
--color-hover:#02a9ca;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: center;
    background: var(--color-bg-li);
    position: relative;
    padding-top: 12px;
}

#menu li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
}

#menu li ul li {
    float: none;
    margin: 0;
    width: 150px;
    text-align: center;
    background: var(--color-bg-menu-ul);
    border: 1px solid var(--color-menu-border);
    transition: .5s ease-in-out;
}

.list a {
    box-sizing: border-box;
}

#menu li a {
    display: block;
    height: 30px;
    color: var(--color-white);
    text-decoration: none;
}

#menu li:hover ul {
    display: block;
}

#menu li:hover {
    background: var(--color-hover);
}

#menu li ul li ul {
    left: 150px;
    top: 0;
}

#menu li ul li ul li {
    display: none;
}

#menu li ul li:hover ul li {
    display: block;
}